body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box
{
  width:40%;
  margin:auto;
}

label 
{
  font-size:1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

input 
{
  width:100%;
  height:35px;
  border:1px solid skyblue;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  font-size:1.1rem;
}

form p 
{
  color:red;
}